.usershowPage {
    .header {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 10px;
      border-bottom: 1px solid #e8e8e8;
      &_logo {
        padding-right: 20px;
        margin-top: 2px;
        margin-bottom: 9px;
       
        & > a {
          width: 40px;
          display: block;
          & > i {
            width: 3em;
            background: -webkit-linear-gradient(90deg, rgba(176, 255, 181, 1), rgba(136, 230, 255, 1) 77%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  
    .userInfo {
      &_img {
        width: 170px;
        height: 170px;
        margin: 20px auto 0;
        border-radius: 50%;
        overflow: hidden;
        &>img {
          width: 100%;
        }
      }
  
      &_name {
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
      }
  
      &_selfIntroduction {
        margin-top: 30px;
        text-align: center;
      }
    }
  
    .userAction {
      display: flex;
      justify-content: space-between;
      width: 250px;
      margin: 20vh auto 0;
      color:#c3c7d0;
      &_common {
        & > a {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          color:#c3c7d0;
          text-decoration: none;
          box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
          transition: color .5s;
          &:hover {
            // color:#fd5068;
            // color: #88e6ff;
            background: -webkit-linear-gradient(90deg, rgba(176, 255, 181, 1), rgba(136, 230, 255, 1) 77%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  