.loginPage {
    background-image: url(/images/cat.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    &_contents {
      height: 93vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      // background: rgba(255,255,255,0.2);
      &_title {
        margin-top: 12vh;
      }
      &_btn {
        display: block;
        max-width: 400px;
        padding: 20px;
        margin: 0 auto;
        border-radius: 40px;
        // background: #fd5068;
        background-image: linear-gradient(90deg, rgba(176, 255, 181, 1), rgba(136, 230, 255, 1) 77%);
        color: #fff;
        border: none;
        transition: opacity .5s;
        &:hover {
          opacity: .8;
        }
      }
    }
    .bg_pattern {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #ffff;
      opacity: 0.4;
      z-index: -1;
    }
    .Polka_v2 {
      background-image:  radial-gradient(#ffc107 2px, transparent 2px), radial-gradient(#ffc107 2px, #ffffff 2px);
      background-size: 40px 40px;
      background-position: 0 0,20px 20px;
    }
  }
  
  